.column-wpcc-image-count {
    width: 3em;
    /*padding: 0 !important;*/
}

.column-wpcc-word-count {
    width: 3em;
    /*padding: 0 !important;*/
}

.column-wpcc-except-count {
    width: 3em;
    /*padding: 0 !important;*/
}
